<nav class="flex items-center justify-between flex-wrap p-3" *ngIf="currentTheme$ | async as currentTheme" [ngClass]="currentTheme">
  <div class="flex-grow flex items-center w-auto">
    <div class="ml-auto">
      <a
        class="inline-block px-4 rounded text-white border-white mt-0">
        <div class="relative">
          <div (click)="toggle()" class="relative w-14 px-4 py-2 border-neutral-400 rounded-md flex justify-center items-center cursor-pointer">
            <ng-icon name="heroWrenchScrewdriver" size="24" class="text-white"></ng-icon>
          </div>
          <div *ngIf="show" class="absolute top-16 border-2 border-slate-400 flex flex-wrap z-10 cursor-pointer w-36 justify-around rounded-lg bg-slate-50 right-1">
              <div *ngFor="let theme of themes"
                [ngClass]="theme"
                (click)="changeTheme(theme)"
                [class.border-gray-900]="theme === currentTheme"
                class="w-1/3 h-12 m-1 rounded-full border-4 hover:border-gray-900 transition duration-0 hover:duration-75">
              </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</nav>


